SoapEndFoot/WebContent/wsdl/endpointimplementation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EndpointImplementationService" targetNamespace="http://endpoints.soap.foot/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://endpoints.soap.foot/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://endpoints.soap.foot/" schemaLocation="endpointimplementation_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getAllTeams">
    <wsdl:part name="parameters" element="tns:getAllTeams">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePlayerResponse">
    <wsdl:part name="parameters" element="tns:updatePlayerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllTeamsResponse">
    <wsdl:part name="parameters" element="tns:getAllTeamsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlayerResponse">
    <wsdl:part name="parameters" element="tns:deletePlayerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBestPlayer">
    <wsdl:part name="parameters" element="tns:getBestPlayer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTeamResponse">
    <wsdl:part name="parameters" element="tns:createTeamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTeam">
    <wsdl:part name="parameters" element="tns:createTeam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLeagueResponse">
    <wsdl:part name="parameters" element="tns:createLeagueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLeague">
    <wsdl:part name="parameters" element="tns:getLeague">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLeagueResponse">
    <wsdl:part name="parameters" element="tns:updateLeagueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLeague">
    <wsdl:part name="parameters" element="tns:updateLeague">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTeamResponse">
    <wsdl:part name="parameters" element="tns:updateTeamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBestPlayersLeague">
    <wsdl:part name="parameters" element="tns:getBestPlayersLeague">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLeagueResponse">
    <wsdl:part name="parameters" element="tns:deleteLeagueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLeaguesResponse">
    <wsdl:part name="parameters" element="tns:getAllLeaguesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlayer">
    <wsdl:part name="parameters" element="tns:deletePlayer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLeague">
    <wsdl:part name="parameters" element="tns:createLeague">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLeagueResponse">
    <wsdl:part name="parameters" element="tns:getLeagueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBestPlayersLeagueResponse">
    <wsdl:part name="parameters" element="tns:getBestPlayersLeagueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPlayerResponse">
    <wsdl:part name="parameters" element="tns:addPlayerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTeam">
    <wsdl:part name="parameters" element="tns:deleteTeam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTeam">
    <wsdl:part name="parameters" element="tns:updateTeam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamById">
    <wsdl:part name="parameters" element="tns:getTeamById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLeague">
    <wsdl:part name="parameters" element="tns:deleteLeague">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTeamByIdResponse">
    <wsdl:part name="parameters" element="tns:getTeamByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBestPlayerResponse">
    <wsdl:part name="parameters" element="tns:getBestPlayerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTeamResponse">
    <wsdl:part name="parameters" element="tns:deleteTeamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLeagues">
    <wsdl:part name="parameters" element="tns:getAllLeagues">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPlayer">
    <wsdl:part name="parameters" element="tns:addPlayer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePlayer">
    <wsdl:part name="parameters" element="tns:updatePlayer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EndpointImplementation">
    <wsdl:operation name="getAllTeams">
      <wsdl:input name="getAllTeams" message="tns:getAllTeams">
    </wsdl:input>
      <wsdl:output name="getAllTeamsResponse" message="tns:getAllTeamsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBestPlayer">
      <wsdl:input name="getBestPlayer" message="tns:getBestPlayer">
    </wsdl:input>
      <wsdl:output name="getBestPlayerResponse" message="tns:getBestPlayerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <wsdl:input name="deleteTeam" message="tns:deleteTeam">
    </wsdl:input>
      <wsdl:output name="deleteTeamResponse" message="tns:deleteTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTeam">
      <wsdl:input name="createTeam" message="tns:createTeam">
    </wsdl:input>
      <wsdl:output name="createTeamResponse" message="tns:createTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLeague">
      <wsdl:input name="getLeague" message="tns:getLeague">
    </wsdl:input>
      <wsdl:output name="getLeagueResponse" message="tns:getLeagueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTeam">
      <wsdl:input name="updateTeam" message="tns:updateTeam">
    </wsdl:input>
      <wsdl:output name="updateTeamResponse" message="tns:updateTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamById">
      <wsdl:input name="getTeamById" message="tns:getTeamById">
    </wsdl:input>
      <wsdl:output name="getTeamByIdResponse" message="tns:getTeamByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLeague">
      <wsdl:input name="deleteLeague" message="tns:deleteLeague">
    </wsdl:input>
      <wsdl:output name="deleteLeagueResponse" message="tns:deleteLeagueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLeague">
      <wsdl:input name="updateLeague" message="tns:updateLeague">
    </wsdl:input>
      <wsdl:output name="updateLeagueResponse" message="tns:updateLeagueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBestPlayersLeague">
      <wsdl:input name="getBestPlayersLeague" message="tns:getBestPlayersLeague">
    </wsdl:input>
      <wsdl:output name="getBestPlayersLeagueResponse" message="tns:getBestPlayersLeagueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePlayer">
      <wsdl:input name="deletePlayer" message="tns:deletePlayer">
    </wsdl:input>
      <wsdl:output name="deletePlayerResponse" message="tns:deletePlayerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLeague">
      <wsdl:input name="createLeague" message="tns:createLeague">
    </wsdl:input>
      <wsdl:output name="createLeagueResponse" message="tns:createLeagueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLeagues">
      <wsdl:input name="getAllLeagues" message="tns:getAllLeagues">
    </wsdl:input>
      <wsdl:output name="getAllLeaguesResponse" message="tns:getAllLeaguesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <wsdl:input name="addPlayer" message="tns:addPlayer">
    </wsdl:input>
      <wsdl:output name="addPlayerResponse" message="tns:addPlayerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePlayer">
      <wsdl:input name="updatePlayer" message="tns:updatePlayer">
    </wsdl:input>
      <wsdl:output name="updatePlayerResponse" message="tns:updatePlayerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndpointImplementationServiceSoapBinding" type="tns:EndpointImplementation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllTeams">
      <soap:operation soapAction="urn:GetAllTeams" style="document"/>
      <wsdl:input name="getAllTeams">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllTeamsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBestPlayer">
      <soap:operation soapAction="urn:GetBestPlayer" style="document"/>
      <wsdl:input name="getBestPlayer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBestPlayerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <soap:operation soapAction="urn:DeleteTeam" style="document"/>
      <wsdl:input name="deleteTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTeam">
      <soap:operation soapAction="urn:CreateTeam" style="document"/>
      <wsdl:input name="createTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLeague">
      <soap:operation soapAction="urn:GetLeague" style="document"/>
      <wsdl:input name="getLeague">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLeagueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTeam">
      <soap:operation soapAction="urn:UpdateTeam" style="document"/>
      <wsdl:input name="updateTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamById">
      <soap:operation soapAction="urn:GetTeamById" style="document"/>
      <wsdl:input name="getTeamById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTeamByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLeague">
      <soap:operation soapAction="urn:DeleteLeague" style="document"/>
      <wsdl:input name="deleteLeague">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteLeagueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLeague">
      <soap:operation soapAction="urn:UpdateLeague" style="document"/>
      <wsdl:input name="updateLeague">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateLeagueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBestPlayersLeague">
      <soap:operation soapAction="urn:GetBestPlayersLeague" style="document"/>
      <wsdl:input name="getBestPlayersLeague">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBestPlayersLeagueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePlayer">
      <soap:operation soapAction="urn:DeletePlayer" style="document"/>
      <wsdl:input name="deletePlayer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePlayerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLeague">
      <soap:operation soapAction="urn:CreateLeague" style="document"/>
      <wsdl:input name="createLeague">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createLeagueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLeagues">
      <soap:operation soapAction="urn:GetAllLeagues" style="document"/>
      <wsdl:input name="getAllLeagues">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllLeaguesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <soap:operation soapAction="urn:AddPlayer" style="document"/>
      <wsdl:input name="addPlayer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPlayerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePlayer">
      <soap:operation soapAction="urn:UpdatePlayer" style="document"/>
      <wsdl:input name="updatePlayer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePlayerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EndpointImplementationService">
    <wsdl:port name="EndpointImplementationPort" binding="tns:EndpointImplementationServiceSoapBinding">
      <soap:address location="http://localhost:8080/SoapEndFoot/services/EndpointImplementationPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
